{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body -%}
{{ include('FlowcodeUserBundle:AdminRole:rolesHeader.html.twig') }}
<section class="content">
    <div class="col-sm-6">
        <div class="box box-solid">
            <div class="box-header">
                <h1 class="box-title">{{ 'role.create'|trans|capitalize }}</h1>
                <div class="box-tools">
                    <a class="btn btn-link btn-sm" href="{{ path('admin_role') }}">
                        {{ 'Back to the list'|trans}}
                    </a>
                </div>
            </div>
            <div class="box-body">
                {{ form(form) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}
