{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    <link href="{{ asset('bundles/flowcodeuser/css/userGroupMenu.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block body -%}
    <div class="contenido">
        <div class="encabezado">
            <h1>User</h1>
        </div>
        <div class="userGroupMenu">
            <div class="menuItem">
                <a class="btn btn-primary" href="{{ path('admin_role') }}">
                    Back to the list
                </a>
            </div>
            <div class="menuItem">
                <a class="btn btn-primary" href="{{ path('admin_role_edit', { 'id': entity.id }) }}">
                    Edit
                </a>
            </div>
            <div class="menuItem">
                {{ form(delete_form) }}
            </div>
        </div>
        <div class="cuerpo">
            <table class="record_properties">
                <tbody>
                    <tr>
                        <th>Name</th>
                        <td>{{ entity.name }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}
