{% extends "AppBundle::frontend.html.twig" %}

{% block body %}
    {{ include('FlowcodeUserBundle:Profile:profileHeader.html.twig') }}

    <section class="content">

        <div class="box box-solid">
            <div class="box-header">
                <div class="box-tools">
                    <a class="btn btn-link btn-sm" href="{{ path('amulen_profile_edit') }}">
                        {{ 'profile.edit'|trans|title }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table class="table table-condensed">
                    <tbody>
                    <tr>
                        <th>{{ "firstname"|trans|title }}</th>
                        <td>{{ entity.firstname }}</td>
                    </tr>
                    <tr>
                        <th>{{ "lastname"|trans|title }}</th>
                        <td>{{ entity.lastname }}</td>
                    </tr>
                    <tr>
                        <th>{{ "email"|trans|title }}</th>
                        <td>{{ entity.email }}</td>
                    </tr>

                    <tr>
                        <th>{{ "username"|trans|title }}</th>
                        <td>{{ entity.username }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </section>

{% endblock %}
