{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}
{{ include('FlowcodeUserBundle:UserGroup:userGroupsHeader.html.twig') }}
<section class="content">
    <div class="box box-solid">
        <div class="box-header">
            <h1 class="box-title">{{ entity.name }}</h1>
            <div class="box-tools">
                <a class="btn btn-link btn-sm" href="{{ path('admin_usergroup') }}">
                    {{ "list"|trans|title }}
                </a>
                {{ form(delete_form) }}
            </div>
        </div>
        <div class="box-body">
            {{form(edit_form)}}
        </div>
    </div>
</section>
{% endblock %}
