{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}
{{ include('FlowcodeUserBundle:UserGroup:userGroupsHeader.html.twig') }}
<section class="content">
    <div class="box box-solid">
        <div class="box-header">
            <h1 class="box-title">{{ 'user.group.list'|trans|capitalize }}</h1>
            <div class="box-tools">
                <a class ="btn btn-link btn-sm" href="{{ path('admin_usergroup_new') }}">
                    <i class="fa fa-plus"></i> {{ 'create'|trans }}
                </a>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{{ 'name'|trans }}</th>
                        <th>{{ 'roles'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>
                            <a href="{{ path('admin_usergroup_show', { 'id': entity.id }) }}">
                                {{ entity.id }}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('admin_usergroup_show', { 'id': entity.id }) }}">
                                {{ entity.name }}
                            </a>
                        </td>
                        <td>
                            {%set roles = ""%}
                            {%if entity.roles is defined%}
                            {%for rol in entity.roles%}
                            {%set roles = roles ~ rol%}
                            {%if not loop.last%}
                            {%set roles = roles ~ ", "%}
                            {%endif%}
                            {%endfor%}
                            {%else%}
                            {{"Sin roles definidos"}}
                            {%endif%}

                            <p class="aaa">{{roles|trim}}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
