{% extends 'FlowcodeDashboardBundle:Default:layout.html.twig' %}

{% block body %}
{{ include('FlowcodeUserBundle:UserGroup:userGroupsHeader.html.twig') }}
<section class="content">
    <div class="col-sm-6">
        <div class="box box-solid">
            <div class="box-header">
                <h1 class="box-title">{{ name }}</h1>
                <div class="box-tools">
                    <a class="btn btn-link btn-sm" href="{{ path('admin_usergroup') }}">
                        {{ "Back to the list"|trans|title }}
                    </a>
                    <a class="btn btn-link btn-sm" href="{{ path('admin_usergroup_edit', { 'id': id }) }}">
                        {{ "edit"|trans|title }}
                    </a>
                </div>
            </div>
            <div class="box-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ id }}</td>
                        </tr>
                        <tr>
                            <th>Roles</th>
                            <td>
                                {%if roles is defined%}
                                {%for rol in roles%}
                                {{rol}}
                                {%endfor%}
                                {%else%}
                                {{"Sin roles definidos."}}
                                {%endif%}
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</section>
{% endblock %}
